.card-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card-header-left {
    h1 {
      color: #000;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
    }
  }

  .card-header-right {
    cursor: pointer;
    display: flex;
    gap: 20px;

    li {
      font-size: 18px;
      font-weight: 500;

      &:hover {
        color: red;
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .col-4 {
    flex: 1;
    min-width: 280px;
  }
}
